<!--
Name: Navjot Kaur
Student ID: 300869349
File Name: error.ejs
Web app name: https://comp308-2017-midterm-300869349.herokuapp.com/
-->


<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
