<!-- 
Name: Navjot Kaur
Student ID: 300869349
File Name: footer.ejs
Web app name: https://comp308-2017-midterm-300869349.herokuapp.com/
-->

<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <h4  class="navbar-text">&copy; 2017 All Rights Reserved.</h4>
  </div>
</nav>



<!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
